language: objective-c ## Run job on Mac OS X infrastructure.
before_install:
  - uname -a
  - printenv
  - ls -la ~
  - cat ~/build.sh
install:
  - command -v brew
  - if [ $(command -v brew) != "/usr/local/bin/brew" ]; then exit 1; fi
  - if [ $(command -v brew-cask) ]; then exit 1; fi
  - brew uninstall --force brew-cask ## [brew_install_wrapper] 'brew cask cleanup' failed. Exiting. Info:\nError: No such file or directory - /Users/travis/Library/Caches/Homebrew/Casks\n  Most likely, this means you have an outdated version of homebrew-cask. Please run:\n      brew uninstall --force brew-cask; brew untap phinze/cask; brew update; brew cleanup; brew cask cleanup
  - echo $PATH
  - if [ $(echo "$PATH" | grep -c ':/usr/local/bin:') -ne 1 ]; then exit 1; fi
  - export PATH=$(echo "$PATH" | sed "s|/usr/local/bin:||")
  - echo $PATH
  - if [ $(command -v brew) ]; then exit 1; fi
  - if [ $(command -v brew-cask) ]; then exit 1; fi
script:
  - if [ $(command -v brew) ]; then exit 1; fi
  - if [ $(command -v brew-cask) ]; then exit 1; fi
  - ls -la /Library/Caches || true
  - ls -la ~/Library/Caches || true
  - ls -la /Library/Caches/Homebrew || true
  - ls -la ~/Library/Caches/Homebrew || true
  - mkdir ~/sandbox
  - bin/provision_osx ~/sandbox "$BREW_INSTALL"
after_script:
  - ls -la ~
  - ls -la ~/sandbox
notifications:
  email: false
matrix:
  allow_failures:
    - env: BREW_INSTALL=
  fast_finish: true
env:
  - BREW_INSTALL=true
  - BREW_INSTALL=
